.label {
  width: 86px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: none;
  height: 48px;
  flex-shrink: 0;
  z-index: 0;
}
.frameParent {
  width: 1625px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 110px;
  max-width: 100%;
}
.educationOrOnlineEducationInner {
  width: 1907px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-0) var(--padding-xl);
}
.educationOrOnlineEducationChild,
.educationOrOnlineEducationInner,
.frameGroup {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frameGroup {
  width: 1789px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-xl);
  gap: 94px;
}
.educationOrOnlineEducationChild {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-30xl);
}
.variableVariatorChild {
  width: 1932px;
  height: 511px;
  position: relative;
  background: linear-gradient(
    171.32deg,
    rgba(85, 59, 145, 0.3),
    rgba(85, 59, 145, 0)
  );
  display: none;
  max-width: 100%;
}
.educationOrOnlineEducation,
.variableVariator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.variableVariator {
  align-self: stretch;
  background: linear-gradient(
    171.32deg,
    rgba(85, 59, 145, 0.3),
    rgba(85, 59, 145, 0)
  );
  align-items: center;
  padding: 89px var(--padding-xl) var(--padding-34xl) var(--padding-7xl);
  gap: 89px;
  max-width: 100%;
}
.educationOrOnlineEducation {
  width: 100%;
  position: relative;
  background-color: #2c1f4a;
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-10xs);
  gap: var(--gap-72xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--text-sm-medium-size);
  color: var(--gray-700);
  font-family: var(--text-lg-semibold);
}
@media screen and (max-width: 1425px) {
  .educationOrOnlineEducationChild {
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .educationOrOnlineEducation {
    gap: 45px 91px;
  }
}
@media screen and (max-width: 950px) {
  .frameParent {
    gap: 55px 110px;
  }
  .frameGroup {
    gap: 47px 94px;
  }
  .educationOrOnlineEducationChild,
  .variableVariator {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .variableVariator {
    gap: 44px 89px;
    padding-top: var(--padding-39xl);
    padding-bottom: var(--padding-15xl);
  }
  .educationOrOnlineEducation {
    gap: 23px 91px;
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    gap: 27px 110px;
  }
  .frameGroup {
    gap: 23px 94px;
  }
  .variableVariator {
    gap: 22px 89px;
  }
}
